/* Chapter 6 CSS */
div#corty3e-ch6-p1 {
  margin-top: -5px;
}
/* Figures */
body.noUi div#corty3e-ch6-fig-6 {
  margin-top: -7px;
}
body.noUi div#corty3e-ch6-fig-8 {
  margin-top: -70px;
}
/* Tables */
/* Lists */
ol#corty3e-ch6-list-3 {
  margin-left: 2em;
}
/* Equations */
div#corty3e-ch6-fig-12,
div#corty3e-ch6-fig-17 {
  margin-left: 0;
}
div#corty3e_page_182 {
  margin-top: -20px;
}
div#corty3e_page_184 {
  margin-top: -20px;
}
div#corty3e_page_188 {
  margin-top: -5em;
}
div#corty3e_page_189 {
  margin-top: -20px;
}
div#corty3e_page_195 {
  margin-top: -10px;
}
div#corty3e_page_196 {
  margin-top: -20px;
}
div#corty3e_page_197 {
  margin-top: -20px;
}
div#corty3e_page_198 {
  margin-top: -5px;
}
div#corty3e_page_202 {
  margin-top: -2em;
}
div#corty3e_page_210 {
  margin-top: -1.5em;
}
div#corty3e_page_211 {
  margin-top: -2em;
}
div#corty3e_page_212 {
  margin-top: -2em;
}
div#corty3e_page_213 {
  margin-top: -2em;
}
div#corty3e_page_214 {
  margin-top: -2em;
}
div#corty3e-ch6-video-1 {
  display: none;
}
div#corty3e-ch6-video-2 {
  display: none;
}