/* Chapter 16 CSS */
div#corty3e-ch16-p1 {
  margin-top: -5px;
}
[data-type="section"][data-block_type="intro"] [data-block_type="intro_box"] [data-block_type="mn2"] {
  width: 200px;
}
[data-type="section"][data-block_type="intro"] [data-block_type="intro_box"] [data-block_type="mn2"] [data-block_type="co-toc-h1-t"] {
  padding-left: 43px;
}
/* Figures */
div#corty3e-ch16-fig-13 img {
  max-width: 377px !important;
}
div#corty3e-ch16-fig-14 img {
  max-width: 482px !important;
}
/* Tables */
/* Lists */
div#corty3e-ch16-bx2-1 ol[data-block_type="loweralpha"] {
  font-weight: normal;
}
/* Equations */
/* equation feature box -- needs more room for equation number to left */
[data-block_type="eq-t"] [data-type="title"] {
  padding-left: 8em;
}