/* Chapter 15 CSS */
div#corty3e-ch15-p1 {
  margin-top: 25px;
}
/* Figures */
/* Tables */
body.noUi div#corty3e-ch15-table1 table tr td {
  border: 1px solid black;
  text-align: left;
  padding-right: 40px;
}
body.noUi div#corty3e-ch15-table2 table tr td {
  border: 1px solid black;
  text-align: center;
  padding: 2px 27px;
}
body.noUi div#corty3e-ch15-table2 table tr td:last-child {
  border-right: 0;
  text-align: left;
  padding: 2px 40px 2px 14px;
}
body.noUi div#corty3e-ch15-table2 table tr:last-child td {
  border-bottom: 0;
}
body.noUi div#corty3e-ch15-table3 table {
  border: 1px solid black;
}
body.noUi div#corty3e-ch15-table3 table tr td {
  border: 0;
  text-align: left;
  padding-right: 75px;
}
body.noUi div#corty3e-ch15-table3 table tr td:first-child {
  border-right: 1px solid black;
}
body.noUi div#corty3e-ch15-table3 table tr:nth-child(2) {
  border-bottom: 1px solid black;
}
body.noUi div#corty3e-ch15-table4 table tr:first-child,
body.noUi div#corty3e-ch15-table6 table tr:first-child,
body.noUi div#corty3e-ch15-table17 table tr:first-child,
body.noUi div#corty3e-ch15-table18 table tr:first-child,
body.noUi div#corty3e-ch15-table19 table tr:first-child,
body.noUi div#corty3e-ch15-table20 table tr:first-child,
body.noUi div#corty3e-ch15-table21 table tr:first-child,
body.noUi div#corty3e-ch15-table22 table tr:first-child,
body.noUi div#corty3e-ch15-table23 table tr:first-child,
body.noUi div#corty3e-ch15-table24 table tr:first-child {
  background-color: #e0e8ef;
}
body.noUi div#corty3e-ch15-table4 table tr:first-child td,
body.noUi div#corty3e-ch15-table6 table tr:first-child td,
body.noUi div#corty3e-ch15-table17 table tr:first-child td,
body.noUi div#corty3e-ch15-table18 table tr:first-child td,
body.noUi div#corty3e-ch15-table19 table tr:first-child td,
body.noUi div#corty3e-ch15-table20 table tr:first-child td,
body.noUi div#corty3e-ch15-table21 table tr:first-child td,
body.noUi div#corty3e-ch15-table22 table tr:first-child td,
body.noUi div#corty3e-ch15-table23 table tr:first-child td,
body.noUi div#corty3e-ch15-table24 table tr:first-child td {
  color: #168ca8;
  font-weight: bold;
}
body.noUi div#corty3e-ch15-table4 table tr > td:first-child,
body.noUi div#corty3e-ch15-table6 table tr > td:first-child,
body.noUi div#corty3e-ch15-table17 table tr > td:first-child,
body.noUi div#corty3e-ch15-table18 table tr > td:first-child,
body.noUi div#corty3e-ch15-table19 table tr > td:first-child,
body.noUi div#corty3e-ch15-table20 table tr > td:first-child,
body.noUi div#corty3e-ch15-table21 table tr > td:first-child,
body.noUi div#corty3e-ch15-table22 table tr > td:first-child,
body.noUi div#corty3e-ch15-table23 table tr > td:first-child,
body.noUi div#corty3e-ch15-table24 table tr > td:first-child {
  text-align: left;
  color: #168ca8;
  font-weight: bold;
}
body.noUi div#corty3e-ch15-table5 {
  width: 575px !important;
}
body.noUi div#corty3e-ch15-table5 table td {
  color: #168ca8;
  font-weight: bold;
  text-align: left;
  vertical-align: top;
}
body.noUi div#corty3e-ch15-table5 table tr:first-child {
  background-color: #e0e8ef;
}
body.noUi div#corty3e-ch15-table5 table tr:first-child td {
  text-align: center;
}
body.noUi div#corty3e-ch15-table7 table,
body.noUi div#corty3e-ch15-table8 table,
body.noUi div#corty3e-ch15-table9 table,
body.noUi div#corty3e-ch15-table10 table,
body.noUi div#corty3e-ch15-table11 table,
body.noUi div#corty3e-ch15-table12 table {
  border: 1px solid black;
}
body.noUi div#corty3e-ch15-table13 table tr > td:first-child,
body.noUi div#corty3e-ch15-table14 table tr > td:first-child,
body.noUi div#corty3e-ch15-table15 table tr > td:first-child,
body.noUi div#corty3e-ch15-table16 table tr > td:first-child {
  text-align: left;
  color: #168ca8;
}
body.noUi div#corty3e-ch15-table25 table tr:first-child,
body.noUi div#corty3e-ch15-table26 table tr:first-child,
body.noUi div#corty3e-ch15-table27 table tr:first-child,
body.noUi div#corty3e-ch15-table28 table tr:first-child,
body.noUi div#corty3e-ch15-table29 table tr:first-child,
body.noUi div#corty3e-ch15-table30 table tr:first-child,
body.noUi div#corty3e-ch15-table31 table tr:first-child,
body.noUi div#corty3e-ch15-table32 table tr:first-child,
body.noUi div#corty3e-ch15-table33 table tr:first-child,
body.noUi div#corty3e-ch15-table34 table tr:first-child,
body.noUi div#corty3e-ch15-table35 table tr:first-child,
body.noUi div#corty3e-ch15-table36 table tr:first-child,
body.noUi div#corty3e-ch15-table37 table tr:first-child,
body.noUi div#corty3e-ch15-table38 table tr:first-child,
body.noUi div#corty3e-ch15-table39 table tr:first-child,
body.noUi div#corty3e-ch15-table40 table tr:first-child {
  background-color: #e0e8ef;
}
body.noUi div#corty3e-ch15-table25 table tr:first-child td,
body.noUi div#corty3e-ch15-table26 table tr:first-child td,
body.noUi div#corty3e-ch15-table27 table tr:first-child td,
body.noUi div#corty3e-ch15-table28 table tr:first-child td,
body.noUi div#corty3e-ch15-table29 table tr:first-child td,
body.noUi div#corty3e-ch15-table30 table tr:first-child td,
body.noUi div#corty3e-ch15-table31 table tr:first-child td,
body.noUi div#corty3e-ch15-table32 table tr:first-child td,
body.noUi div#corty3e-ch15-table33 table tr:first-child td,
body.noUi div#corty3e-ch15-table34 table tr:first-child td,
body.noUi div#corty3e-ch15-table35 table tr:first-child td,
body.noUi div#corty3e-ch15-table36 table tr:first-child td,
body.noUi div#corty3e-ch15-table37 table tr:first-child td,
body.noUi div#corty3e-ch15-table38 table tr:first-child td,
body.noUi div#corty3e-ch15-table39 table tr:first-child td,
body.noUi div#corty3e-ch15-table40 table tr:first-child td {
  color: #168ca8;
  font-weight: bold;
}
body.noUi div#corty3e-ch15-table25 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table26 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table27 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table28 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table29 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table30 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table31 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table32 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table33 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table34 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table35 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table36 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table37 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table38 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table39 table tr:first-child td:first-child,
body.noUi div#corty3e-ch15-table40 table tr:first-child td:first-child {
  border-bottom: 0;
}
body.noUi div#corty3e-ch15-table25 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table26 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table27 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table28 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table29 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table30 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table31 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table32 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table33 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table34 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table35 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table36 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table37 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table38 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table39 table tr:first-child + tr,
body.noUi div#corty3e-ch15-table40 table tr:first-child + tr {
  background-color: #e0e8ef;
}
body.noUi div#corty3e-ch15-table25 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table26 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table27 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table28 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table29 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table30 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table31 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table32 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table33 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table34 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table35 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table36 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table37 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table38 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table39 table tr:first-child + tr td,
body.noUi div#corty3e-ch15-table40 table tr:first-child + tr td {
  color: #168ca8;
  font-weight: bold;
}
body.noUi div#corty3e-ch15-table25 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table26 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table27 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table28 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table29 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table30 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table31 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table32 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table33 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table34 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table35 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table36 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table37 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table38 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table39 table tr:first-child + tr td:first-child,
body.noUi div#corty3e-ch15-table40 table tr:first-child + tr td:first-child {
  border-top: 0;
}
body.noUi div#corty3e-ch15-table25 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table26 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table27 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table28 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table29 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table30 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table31 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table32 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table33 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table34 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table35 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table36 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table37 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table38 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table39 table tr:first-child + tr + tr td:last-child,
body.noUi div#corty3e-ch15-table40 table tr:first-child + tr + tr td:last-child {
  border-right: 1px solid black;
}
body.noUi div#corty3e-ch15-table25 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table26 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table27 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table28 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table29 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table30 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table31 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table32 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table33 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table34 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table35 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table36 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table37 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table38 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table39 table tr:last-child td:last-child,
body.noUi div#corty3e-ch15-table40 table tr:last-child td:last-child {
  border-right: 1px solid black;
}
body.noUi div#corty3e-ch15-table25 table tr > td:first-child,
body.noUi div#corty3e-ch15-table26 table tr > td:first-child,
body.noUi div#corty3e-ch15-table27 table tr > td:first-child,
body.noUi div#corty3e-ch15-table28 table tr > td:first-child,
body.noUi div#corty3e-ch15-table29 table tr > td:first-child,
body.noUi div#corty3e-ch15-table30 table tr > td:first-child,
body.noUi div#corty3e-ch15-table31 table tr > td:first-child,
body.noUi div#corty3e-ch15-table32 table tr > td:first-child,
body.noUi div#corty3e-ch15-table33 table tr > td:first-child,
body.noUi div#corty3e-ch15-table34 table tr > td:first-child,
body.noUi div#corty3e-ch15-table35 table tr > td:first-child,
body.noUi div#corty3e-ch15-table36 table tr > td:first-child,
body.noUi div#corty3e-ch15-table37 table tr > td:first-child,
body.noUi div#corty3e-ch15-table38 table tr > td:first-child,
body.noUi div#corty3e-ch15-table39 table tr > td:first-child,
body.noUi div#corty3e-ch15-table40 table tr > td:first-child {
  text-align: left;
  color: #168ca8;
  font-weight: bold;
}
body.noUi div#corty3e-ch15-table41 table,
body.noUi div#corty3e-ch15-table42 table,
body.noUi div#corty3e-ch15-table43 table,
body.noUi div#corty3e-ch15-table44 table {
  border-top: 1px solid black;
}
body.noUi div#corty3e-ch15-table41 table tr > td:first-child,
body.noUi div#corty3e-ch15-table42 table tr > td:first-child,
body.noUi div#corty3e-ch15-table43 table tr > td:first-child,
body.noUi div#corty3e-ch15-table44 table tr > td:first-child {
  border-left: 1px solid black;
}
body.noUi div#corty3e-ch15-table41 table tr:last-child td,
body.noUi div#corty3e-ch15-table42 table tr:last-child td,
body.noUi div#corty3e-ch15-table43 table tr:last-child td,
body.noUi div#corty3e-ch15-table44 table tr:last-child td {
  border-bottom: 0;
}
body.noUi div#corty3e-ch15-table41 table tr:last-child td:first-child,
body.noUi div#corty3e-ch15-table42 table tr:last-child td:first-child,
body.noUi div#corty3e-ch15-table43 table tr:last-child td:first-child,
body.noUi div#corty3e-ch15-table44 table tr:last-child td:first-child {
  border-left: 0;
}
body.noUi div#corty3e-ch15-table44 td {
  padding: 1em 2em;
}
body.noUi div#corty3e-ch15-table44 tr:last-child > td {
  padding: 3px;
}
/* Lists */
/* Equations */
/* equation feature box -- needs more room for equation number to left */
[data-block_type="eq-t"] [data-type="title"] {
  padding-left: 8em;
}
/*# sourceMappingURL=corty3e_ch15.css.map */