/* Chapter 5 CSS */
div#corty3e-ch5-p1 {
  margin-top: -5px;
}
/* Figures */
body.noUi div#corty3e-ch5-fig-4 {
  width: 300px !important;
  margin: -14px 43px 0 14px;
}
body.noUi div#corty3e-ch5-fig-4 img {
  padding: 0;
}
body.noUi div#corty3e-ch5-fig-6 {
  width: 200px !important;
  margin: -14px 43px 0 14px;
}
body.noUi div#corty3e-ch5-fig-6 img {
  padding: 0;
  max-width: 227px !important;
}
body.noUi div#corty3e-ch5-fig-23 {
  margin-top: -41px;
}
[data-figure-id="corty3e-ch5-fig-4"] [data-type="asset_source"] {
  display: none;
}
/* Tables */
/* Lists */
/* Equations */
div#corty3e-ch5-bx6-3 [data-block_type="eq-txt-eq"] {
  margin-left: 25px;
}
div#corty3e-ch5-bx6-3 [data-block_type="eq-txt-ni"] {
  margin-left: 100px;
  text-indent: -100px;
}
div#corty3e-ch5-bx6-3 [data-block_type="eq-unl"] {
  margin-left: 106px;
  text-indent: -36px;
}
div#corty3e-ch5-bx3-3 [data-block_type="sr-exp-eq"] {
  margin: 1em 0 1em 200px;
}
div#corty3e-ch5-bx3-3 div#corty3e-ch5-p149 {
  margin-left: 155px !important;
}
div#corty3e-ch5-fig-8 {
  margin-left: 0;
}
div#corty3e-ch5-fig-11 {
  margin-left: 0;
}
div#corty3e-ch5-fig-13 {
  margin-left: 0;
}
div#corty3e-ch5-fig-15 {
  margin-left: 0;
}
div#corty3e-ch5-fig-27 {
  margin-left: 0;
}
div#corty3e_page_148 {
  margin-top: -20px;
}
div#corty3e_page_153 {
  margin-top: -20px;
}
div#corty3e_page_157 {
  margin-top: -60px;
}
iv#corty3e_page_166 {
  margin-top: -12px;
}
div#corty3e_page_168 {
  margin-top: -41px;
}
div#corty3e_page_170 {
  margin-top: -20px;
}
div#corty3e_page_171 {
  margin-top: -20px;
}
div#corty3e_page_172 {
  margin-top: -20px;
}
[data-sec-id="corty3e-ch5-sec1-6"] [data-type="asset_source"] {
  display: none;
}