/* Front Matter CSS */

/* credits and copyright section */
[data-sec-id="corty3e-fm1-sec1-1"] {
    font-family: serif;
    table {
        td {
            border: 0;
            font-family: serif;
            &.credit-left {
                text-align: right;
                border-right: 1px solid black;
            }
            &.credit-right {
                text-align: left;
            }
        }
    }
    [data-block_type="txt"] {
        text-align: center;
    }
}
#corty3e-fm1-p85,
#corty3e-fm1-p87,
#corty3e-fm1-p89,
#corty3e-fm1-p90,
#corty3e-fm1-p91 {
    margin-bottom: 1em;
}

div#corty3e-fm1-p98 {
    strong {
        color: #168ca8;
        font-family: sans-serif;
    }
}
div#corty3e-fm1-fig-7 {
    [data-type="asset_source"] {
        display: none;
    }
}
div#corty3e_page_x {
    display: none;
}
div#corty3e_page_xviii {
    display: none;
}
