/* Chapter 9 CSS */
/* Figures */
/* Tables */
body.noUi div#corty3e-ch9-table1 table tr:first-child {
  background-color: #e0e8ef;
}
body.noUi div#corty3e-ch9-table1 table tr:first-child td {
  border-left: 0;
  border-right: 0;
  color: #168ca8;
  font-weight: bold;
  text-align: left;
}
body.noUi div#corty3e-ch9-table1 table tr:first-child + tr {
  color: #168ca8;
  font-weight: bold !important;
}
/* Lists */
div#corty3e-ch9-p220 p {
  margin-bottom: 4px;
}
ul#corty3e-ch9-list-17 {
  margin: 0 4em;
}
/* Equations */
div#corty3e-ch9-eqn-2 img {
  width: 444px;
}
div#corty3e-ch9-p154 {
  margin-bottom: 0;
}
div#corty3e-ch9-p155 {
  margin-top: 0;
}
div#corty3e-ch9-p182 {
  margin-bottom: 0;
}
div#corty3e-ch9-p183 {
  margin-top: 0;
}
div#corty3e-ch9-bx3-4 {
  margin-top: 2em;
}
div#corty3e-ch9-bx3-4 [data-type="title"] {
  display: none;
}
/* inline math image adjustments */
img[src*="corty3e_ineqn"] {
  height: 1.5em;
  vertical-align: text-top;
}
div#corty3e_page_301 {
  margin-top: -2em;
}
div#corty3e_page_302 {
  margin-top: -2em;
}
div#corty3e_page_305 {
  margin-top: -5px;
}
div#corty3e_page_312 {
  margin-top: -5px;
}
div#corty3e_page_315 {
  margin-top: -6em;
}
div#corty3e_page_317 {
  margin-top: -2em;
}
div#corty3e_page_318 {
  margin-top: -2em;
}
div#corty3e_page_319 {
  margin-top: -1.5em;
}
div#corty3e_page_320 {
  margin-top: -2em;
}
div#corty3e_page_321 {
  margin-top: -2em;
}
div#corty3e_page_322 {
  margin-top: -1.5em;
}